
            /*---ESTILO GERAL DO CORPO--*/
    body{
        margin: 0; /*Margin*/
        font-family: Arial,sans-serif;
    }
/*---------------------------------*/

                  /*--- LOGO ---*/
.Mascote{
    width:100px;
    height: auto;
}

  /*---ESTILO  GERAL DAS NAVs---*/

nav{
    background-color: black; /*COR DE FUNDO DO MENU */
    display: flex;         /* deixa tudo em linha */
    align-items: center;   /* centraliza na vertical */
    justify-content: space-between; /* separa logo de menu */
     padding: 2px 2px; /* Preenchimento */
     margin-right: 2;
}

nav ul {
    list-style: none;
    gap: 20px;  /* espaço entre os itens */
    display:flex; /* empurra os links pro lado direito */
    padding: 0;
}

 /* --- FIM DOS MENUS GERAIS DE NAVEGAÇÃO ---*/

/*---------------------------------*/

/*---  MENU TOPO ---*/

.menu ul li a {
    color: white;/*COR DO TEXTO*/
    text-decoration: none; /*REMOVE SUBLINHADO*/
    font-size: 18px;
    transition: color 0,5s; /*EFEITO SUAVE NA MUDANÇA DE COR */
    margin: 0 15 px;
}

.menu ul li a:hover{
    color:#ab0e30; /* COR QUANDO PASSA O MOUSE */
}

/*--- FIM DO MENU TOPO ---*/

/*-----------------*/

/*--- INICIO RODAPE--- */

/* Faz o body ocupar a tela inteira */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1; /* empurra o rodapé para baixo */
}

/* Rodapé */
.rodape {
  background-color: black;
  color: white;
  padding: 2px 5px 5px;

  display: flex;
  align-items: center;
  justify-content: space-between; /* distribui logo, texto e redes */
}

/* Logo */
.rodape .logo {
  width: 80px;
  height: auto;
}

/* Texto central */
.rodape p {
  margin: 0;
  text-align: center;
  flex: 1; /* garante que fique no meio */
}

/* Redes sociais à direita */
.rodape .redes {
  display: flex;
  gap: 15px;
}

.rodape .redes img {
  width: 24px;
  height: 24px;
}

/* SOBRE */

 .Missao{
  background-color: black;
  width: 300px;
  margin: auto;
  border-radius: 10px;
  color: white;
  text-align: center;
}

img{
    width: 100px;
    height: 100px;
}

.valores{
    display: flex;         /* coloca as divs lado a lado */
    justify-content: center;   /* centraliza no meio da página */
    gap: 20px;                    /* espaçamento entre elas */
    flex-wrap: wrap;               /* se a tela ficar pequena, elas quebram pra baixo */
    margin-top: 40px;             /* espaço acima do bloco */
    margin-bottom: 60px;          /* distância do rodapé */

}

.valor{
  background-color: black;
  color: white;
  padding: 20px;
  width: 200px;
  border-radius: 20px;
  text-align: center;
 }
